* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    background-color: #f2f2f2;
  }
  body {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #404040;
    background-color: white;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
  }
  nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: bold;
    letter-spacing: .05em;
    background-color: #f2f2f2;
    padding: 25px;
  }
  #portfolio {
    padding: 30px;
    text-transform: uppercase;
  }
  #portfolio, .top-nav {
    text-align: center;
  }

  .top-nav, .top-nav li {
    width: 100%;
  }

  h1 a, .top-nav a {
    color: #404040;
  }
  .top-nav {
    margin-top: 30px;
  }

  .top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
  }

  .top-nav {
    text-transform: uppercase;
    color: #404040;
  }
  h1 {
    text-align: center;
  }
  h4, p {
    color: #404040;
  }
  h4 {
    padding: 30px;
  }
  .container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}
.col {
  margin: 10px;
  min-height: 250px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

.box-1 {
  background-color: #FFFFFF;

}

.box-2 {
  background-color: #FFFFFF;

}

.box-3 {
  background-color: #FFFFFF;

}

.box-4 {
  background-color: #FFFFFF;
}

.box-5 {
  background-color: #FFFFFF;
}

.box-6 {
  background-color: #FFFFFF;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 60px 20px;
  height: 100px;
  background-color: #f2f2f2;
}
.full {
  display: none;
}
.intro {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1024px;
  padding: 30px 60px 30px 30px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.5;
  background-color: #f2f2f2;
}
.profile {
  display: flex;
  flex-direction: row-reverse;
  vertical-align: top;
  align-self: center;
  max-width: 270px;
  margin-bottom: 50px;
  margin-right: 40px;
}
.portfolio {
  width: 300px;
}
#portfolio {
    width: 100%;
    background-color: white;
}
#portfolio {
  width: 100%;
  background-color: white;
}
#contact {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.comment {
  text-align: center;
  font-weight: normal;
  line-height: 1.5;
}
.contact {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  font-weight: normal;
  line-height: 2;
}
.footer-nav {
  font-weight: bold;
}
      /* Media Queries ------------------- */

      @media (min-width: 768px) {
        h1 {
          text-align: center;
          padding: 30px;
        }
        .intro {
          display: flex;
          flex-wrap: nowrap;
          text-align: left;
        }
        .top-nav {
          margin-top: 0;
          display: flex;
          flex-direction: row;
        }

        .top-nav li {
          display: flex;
          margin-right: 15px;
          justify-content: center;
          background-color: transparent;
        }

        .top-nav li:last-child {
          margin-right: 0;
        }

        .top-nav a {
          color: #404040;
        }
        .container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
        }
        .col {
          flex-basis: calc(50% - 20px);
        }
        .top {
          display: none;
        }
        .full {
          display: inline-block;
          margin-left: 20px;
        }
        .profile {
          margin-right: 0;
          max-width: 260px;
        }
      }
      @media (min-width: 1024px) {
        h1 {
          text-align: left;
          padding: 0;
        }
        .intro {
          display: flex;
          flex-wrap: nowrap;
          text-align: left;
        }
        nav {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
        }
        .top-nav,
        .top-nav li {
          width: initial;
          margin-bottom: 0;
        }
        .col {
          flex-basis: calc(33.333% - 20px);
        }
        .profile {
          max-width: 400px;
        }
      }
